.con {
  width: 800px;
  height: 400px;
  opacity: .9;
}

.body {
  background-image: url('/frontend/img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.main {
  padding: 1%;
  width: auto;
  margin: 20px 100px 20px 100px;
  background: rgb(255, 255, 255);
  border: 3px solid black;
  border-radius: 30px;
  background-color: rgb(64, 51, 119);
}

.footer {
  padding: 1%;
  width: auto;
  margin: 20px 100px 0 100px;
  background: rgb(255, 255, 255);
  border: 3px solid black;
  border-radius: 30px;
  background-color: rgb(64, 51, 119);
}

.grid {
  position: absolute;
  width: 570px;
  height: 300px;
  margin: 15 auto;
  border: solid red 1px;
  margin-left: 15px;
  float: left;
}

.highscoreBoard {
  width: 200px;
  height: 300px;
  margin: 15 auto;
  border: solid red 1px;
  float: right;
  background: rgb(81, 85, 143);
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: aquamarine;
  /* left: 50px;
  bottom: 50px; */
}

.controller {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: green;
  border: 2px solid black;
  /* left: 50px;
  bottom: 50px; */
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 10px;
}

.header {
  display: grid;
}